[Unit]
Description=Uploads PySQM images

[Service]
ExecStart=/usr/bin/podman exec --user pysqm pysqm bash /home/pysqm/upload_sqm_images.sh
Type=oneshot
