[Unit]
Description=Uploads PySQM images

[Service]
ExecStart=/usr/bin/docker exec --user pysqm pysqm-cdf-pysqm-1 bash /home/pysqm/upload_sqm_images.sh
Type=oneshot
